{% extends 'layout.html' %}

{% block main %}
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/device/list">Devices</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{ device.name }}</h1>
    <div class="box">
        <div class="box-content">
            <h4> {{device.name}} </h4>
            {{ errors|dump_errors }}
            {{ messages|dump_messages }}
            <div class="row">
                <a class="btn btn-primary" href="/device_policy/list" role="button">Device Policy</a>
                <div class="col-lg-12">
                    {% for object in device.objects %}
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> {{object}} </h4>
                        <form class="form-horizontal style-form" action='' method="POST">
                            {% if device.objects[object].resources%}
                                {% for resource in device.objects[object].resources%}
                                    {% if 'schema' in device.objects[object].resources[resource] %}
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">{{resource}}</label>
                                            <div class="col-sm-10">
                                                {% if device.objects[object].resources[resource].schema.Type == 'String' %}
                                                    {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly'%}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}} readonly>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% else %}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}}>
                                                    <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% endif %}
                                                {% elif device.objects[object].resources[resource].schema.Type == 'Integer' %}
                                                    {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly'%}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}} readonly>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% else %}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}}>
                                                    <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% endif %}
                                                {% elif device.objects[object].resources[resource].schema.Type == 'Float' %}
                                                    {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly'%}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}} readonly>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% else %}
                                                    <input type="text" class="form-control" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}}>
                                                    <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                    <span class="help-block">{{device.objects[object].resources[resource].schema['Description']}}</span>
                                                    {% endif %}
                                                {% elif device.objects[object].resources[resource].schema.Type == 'Boolean' %}
                                                    <input type='hidden' value='false' name={{object}}_{{resource}}>
                                                    {% if device.objects[object].resources[resource].value == True %}
                                                        {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly'%}
                                                        <input name={{object}}_{{resource}} type="checkbox" checked value="true" data-toggle="switch" readOnly/>
                                                        {% else %}
                                                        <input name={{object}}_{{resource}} type="checkbox" checked value="true" data-toggle="switch"/>
                                                        <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly'%}
                                                        <input name={{object}}_{{resource}} type="checkbox" value="true" data-toggle="switch" readOnly/>
                                                        {% else %}
                                                        <input name={{object}}_{{resource}} type="checkbox" value="true" data-toggle="switch"/>
                                                        <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else device.objects[object].resources[resource].schema.Type == 'Enum' %}
                                                    {% if device.objects[object].resources[resource].schema['Access Type'] == 'ReadOnly' %}
                                                    <input type="hidden" name={{object}}_{{resource}} value={{device.objects[object].resources[resource].value}} />
                                                    <select class="form-control" name={{object}}_{{resource}} disabled="disabled">
                                                    {% else %}
                                                    <select class="form-control" name={{object}}_{{resource}}>
                                                    {% endif %}
                                                        {% for item in device.objects[object].resources[resource].schema['Range or Enumeration'] %}
                                                            {% if device.objects[object].resources[resource].value == item %}
                                                            <option value={{item}} selected>{{item}}</option>
                                                            {% else %}
                                                            <option value={{item}}>{{item}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    {% if device.objects[object].resources[resource].schema['Access Type'] = 'ReadWrite' %}
                                                    <a href="/device_stats/{{device.device_id}}/{{object}}/{{resource}}" data-toggle="modal">History Stats</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {{ xsrf_form_html() }}
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<!--main content end-->
{% endblock %}

{% block script %}
<script type="text/javascript">
jQuery(document).ready(function() {
    // Support for AJAX loaded modal window.
    // Focuses on first input textbox after it loads the window.
    $('[data-toggle="modal"]').click(function(e) {
                                                       e.preventDefault();
                                                       var url = $(this).attr('href');
                                                       if (url.indexOf('#') == 0) {
                                                       $(url).modal('open');
                                                       } else {
                                                       $.get(url, function(data) {
                                                             $('<div class="modal hide fade">' + data + '</div>').modal();
                                                             }).success(function() { $('input:text:visible:first').focus(); });
                                                       }
                                                });
});

</script>
{% endblock%}
