{% extends 'layout.html' %}
        
{% block main %}
<div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
        <ul class="nav main-menu">
            <li>
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span class="hidden-xs">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/device/list">
                    <i class="fa fa-list"></i>
                    <span class="hidden-xs">Devices</span>
                </a>
            </li>
        </ul>
    </div>
    <!--Start Content-->
    <div id="content" class="col-xs-12 col-sm-10">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i> Add a Device</h4>
                    {{ errors|dump_errors }}
                    {{ messages|dump_messages }}
                    <form class="form-horizontal style-form" action='' method="POST">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Device ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="device_id">
                                <span class="help-block">Device ID</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">Serial Number</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="serial_no">
                                <span class="help-block">Serial Number</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-theme">Submit</button>
                            </div>
                        </div>
                        {{ xsrf_form_html() }}
                    </form>
                </div>
            </div>
        </div>
    </section><! --/wrapper -->
</section>
<!--main content end-->
{% endblock %}
