{% extends 'layout.html' %}
        
{% block main %}
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="/device/list">Devices</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Device List</h1>
    {% set i = 0 %}
    {% if user_info.devices %}
      {% for device in user_info.devices %}
        {% if i%4 == 0 %}
        <div class="row mtbox">
        {% endif %}
          <a href="/device/{{device.device_id}}">
            <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
              <div class="box1">
              	<span class="li_stack"></span>
              	<h4>{{device.name}}</h4>
              </div>
            </div>
          </a>
        {% if i%4 == 1 or i == user_info.devices|length - 1 %}
        </div><!-- /row mt -->
        {% endif %}
        {% set i = i + 1 %}
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
