{% extends 'layout.html' %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Overview
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      {% for device in user_info.devices %}
      <div class="col-md-4 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <div class="inner">
            <h3>{{ device.name }}</h3>
            <p>{{ device.serial_number }}</p>
          </div>
          <div class="icon">
            <i class="ion ion-ios-gear-outline"></i>
          </div>
          <a href="/device/{{ device.device_id }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div><!-- ./col -->
      {% endfor %}
    </div>
  </section>
{% endblock %}
