{% extends 'layout.html' %}

{% block main %}
<!--sidebar-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            
            <p class="centered"><a href="/u/{{ current_user.username or current_user.uid }}"><img src="/static/avatar/s_{{ current_user.avatar or 'default.png' }}?t={{ gen_random() }}" class="img-circle" width="60"></a></p>
            <h5 class="centered">{{current_user.username}}</h5>
            
            <li class="mt">
                <a href="/">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>Devices</span>
                </a>
                <ul class="sub">
                    <li><a  href="/device/add">Add Device Manager</a></li>
                    {% for license_id in current_user.devices %}
                    {% for device in current_user.devices[license_id] %}
                    <li><a  href="/device/{{device.device_id}}">{{device.name}}</a></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </li>
            
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

<!--main content-->
<section id="main-content">
    <section class="wrapper site-min-height">
    	<div class="container-box">
    	    <form class="form-horizontal" action='' method="POST">
    	        <fieldset>
    	            <div id="legend" class="mb50">
    	                <legend class="">找回密码</legend>
    	            </div>
    	            {{ errors|dump_errors }}
    	            <div class="control-group">
    	                <!-- Username -->
    	                <label class="control-label" for="username">用户名</label>
    	                <div class="controls">
    	                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
    	                    <p class="help-block">用户名由字母开头，只能含有字母、数字或者下划线</p>
    	                </div>
    	            </div>

    	            <div class="control-group">
    	                <!-- E-mail -->
    	                <label class="control-label" for="email">E-mail</label>
    	                <div class="controls">
    	                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
    	                    <p class="help-block">请输入你的E-mail，新密码将发送到这里</p>
    	                </div>
    	            </div>

    	            <div class="control-group">
    	                <!-- Button -->
    	                <div class="controls">
    	                    <button class="btn btn-success">找回密码</button>
    	                </div>
    	            </div>
    	        </fieldset>
    	        {{ xsrf_form_html() }}
    	    </form>
    	</div>
    </section><! --/wrapper -->
</section>
<!--main content end-->
{% endblock %}

