{% extends "base.html" %}

{% block body_class %} class="hold-transition login-page"{% endblock %}

{% block main_body %}
  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Coco</b>nut</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      {{ errors|dump_errors }}
      {{ messages|dump_messages }}
      <p class="login-box-msg">Sign in to start your session</p>
      <form action="/login" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <a href="/register" class="text-center">Register a new membership</a>
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>
        {{ xsrf_form_html() }}
      </form>


    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
{% endblock %}
